body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 10px;
    min-width: 400px;
}

input[type="text"] {

    width: 500px;
    height: 17px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    padding: 11px;
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: block;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #4CAF50;
}



